# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.suo
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.user
*.ncb
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.exe
*.pdb
*.v12
*.pdb
*.exe.config
*.exe.manifest
*.hg
*.hgignore
*.cache
/.hg
/obj
/obj/Release
/obj/Debug
/bin/Debug
/configs
